.max-w-2xl.text-center
  .bg-diploma.bg-contain.bg-center.bg-no-repeat.flex.flex-col.justify-end.items-center.w-96.h-96.p-2.pb-4.text-white
    .py-2.pl-16.text-center= @diploma.name
    .py-2.pl-16.text-center= @diploma.category
    .py-2.pl-16.text-center= @diploma.gameclass
    .py-2.pl-16.text-center= @diploma.result
