.-m-8.pb-20.bg-main.bg-cover.opacity-90.min-h-screen{ style: 'width: 100vw; margin-left: calc(-50vw + 50%);' }
  .text-center
    .pt-20.pb-12.md:pt-44.text-2xl.text-white.font-bold
      Play O Ground 완주를 축하합니다.
    = form_with url: diplomas_search_path, method: :post, local: true, class: "space-y-4 flex items-center justify-center" do |f|
      = text_field_tag :name, params[:name], value: '김지훈', placeholder: '이름을 입력해주세요', type: 'search', class:"w-44 h-10 border border-solid rounded px-4"
      = f.submit '기록 확인', class: 'text-white ml-2 py-2 px-4 h-9 bg-primary-800 rounded-sm cursor-pointer'
