.flex.flex-col.justify-center.items-center
  .my-8.border.border-gray-200
    = render @diploma

  .flex
    = link_to '다운로드', diploma_path(@diploma, format: :png), class: 'text-white ml-2 py-2 px-4 h-9 bg-primary-800 rounded'
