.py-12
  .border.border-gray-200.max-w-2xl
    .flex.flex-col.justify-end.items-center.space-y-2.h-96.p-2
      .flex.p-2.w-60.bg-gray-100
        .w-20 이름
        .w-full.text-center= @diploma.name
      .flex.p-2.w-60.bg-gray-100
        .w-20 종목
        .w-full.text-center= @diploma.category
      .flex.p-2.w-60.bg-gray-100
        .w-20 클래스
        .w-full.text-center= @diploma.gameclass
      .flex.p-2.w-60.bg-gray-100
        .w-20 기록
        .w-full.text-center= @diploma.result
