- if flash.present?
  - flash_message = flash.first
  - flash.each do |key, message|
    .py-2.text-center.text-red-700.bg-gray-200{ data: { controller: 'flash', 'flash-key-value': key, 'flash-message-value': message } }
      = message
  - flash.clear
